<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="./css/main.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header id="header">
        <div class="inner_header">
            <h1 class="logo">
                <a href="http://yn0000.shop">
                    <img id="logo_img" src="/img/logo_img.gif" alt="로고">
                </a>
            </h1>

            <div id="menu">
                <ul class="menu_ul">
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">인터뷰작성</a></li>
                </ul>
                <ul id="second_menu" class="menu_ul">
                    <li><a href="#">브랜딩</a></li>
                    <li><a href="#">로고디자인</a></li>
                    <li><a href="#">네이밍</a></li>
                    <li><a href="#">편집디자인</a></li>
                    <li><a href="#">홈페이지</a></li>

                </ul>
                <ul id="third_menu" class="menu_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">후기</a></li>

                </ul>
            </div>
            <!-- 파일다운로드 -->
            <a id="file_download" href="/txt/server.txt" target="_blank" download="server.txt">회사소개서 다운</a>

            <div class="tel_no">
                <div>
                    <p>1544-1234</p>
                    <p>평일 9-6시 (점심 01:00 - 2시)</p>
                </div>
            </div>
            <div class="info_box">
                <p>우리 1005-000-000000</p>
                <p>(주)디자인오브</p>
                <p>brand@brand.co.kr</p>
            </div>
            <% if(displayname){ %>
                <ul id="and_page">
                    <li><a id="login_logout" href="/logout">LOGOUT</a></li>
                    <li><a href="#">CART</a></li>
                    <li><a href="#">MYPAGE</a></li>
                </ul>
                <!-- <div id ="loginUser" class="">
                
                    <p id="userN"><%= displayname %>님</p>
                </div> -->
                <% }else{ %>
                    <ul id="and_page">
                        <li><a id="login_logout" href="/login">LOGIN</a></li>
                        <li><a href="/join">JOIN</a></li>
                        <li><a href="#">CART</a></li>
                        <li><a href="#">MYPAGE</a></li>
                    </ul>
                    <% } %>


        </div>
    </header>

    <section id="homepageSection">
        <div id="list_div">
            <div id="inner_list_div">
                <form action="/shopping" method="post">
                    <ul>
                        <li id="kimchi"><img src="/img/kimchi.jpg">
                            <p>김치라면</p><input class="inputNum" type="text" placeholder="수량"><button class="cartButton" type="button">담기</button>
                        </li>
                        <li id="king"><img src="/img/king.jpg">
                            <p>왕뚜껑</p><input class="inputNum" type="text" placeholder="수량"><button class="cartButton" type="button">담기</button>
                        </li>
                        <li id="moo"><img src="/img/moo.jpg">
                            <p>무파마</p><input class="inputNum"  type="text" placeholder="수량"><button class="cartButton" type="button">담기</button>
                        </li>
                        <li id="neoguri"><img src="/img/neoguri.jpg">
                            <p>너구리</p><input class="inputNum" type="text" placeholder="수량"><button class="cartButton" type="button">담기</button>
                        </li>
                        <li id="sin"><img src="/img/sin.jpg">
                            <p>신라면</p><input class="inputNum" type="text" placeholder="수량"><button class="cartButton" type="button">담기</button>
                        </li>
                        <li id="zzapa"><img src="/img/zzapa.jpg">
                            <p>짜파구리</p><input class="inputNum" type="text" placeholder="수량"><button class="cartButton" type="button">담기</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

    </section>

</body>

</html>