<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>

    <link rel="stylesheet" href="./css/main.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>




<body>

    <div id="icon_go_box">
        <ul id="inner_icon">
            <li><a href="#"><img src="/img/phone.png"></a></li>
            <li><a href="https://www.naver.com"><img src="/img/naver.png"></a></li>
            <li><a href="https://www.instagram.com"><img src="/img/insta.png"></a></li>
            <li><a href="https://www.kakaocorp.com/"><img src="/img/kakao.png"></a></li>
        </ul>
    </div>
    <div id="outer_pop_up" style="top:50px;left:10px" class="">
        <div id="inner_pop_up" style="width:350px;height:350px">
            <!-- 팝업창 안에 이미지 -->
            <p><a href=""><img src="/img/pop_up_img.jpg"></a></p>
            <div class="pop_up_button">
                <button id="button24" type="button" onclick="exit24()" class="pop_up_24button">24시간 동안 다시 열람하지 않습니다.</button>
                <button type="button" onclick="exit()" class="pop_up_exit">닫기</button>
            </div>
        </div>

    </div>
    <script>
        function exit() {
            const $pop = document.getElementById('outer_pop_up');
            $pop.style.display = "none";

        }

        function setCookie(name, value, expiredays) {
            var todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + expiredays);
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
        }

        function exit24() {
            const winName = document.getElementById('button24');
            setCookie( winName, "done" , expiredays);
            // var obj = eval( "window." + winName );
            // obj.style.display = "none";
            console.log('pop_up24');
            const $pop = document.getElementById('outer_pop_up');
            $pop.style.display = "none";
        }


    </script>


    <header id="header">
        <div class="inner_header">
            <h1 class="logo">
                <a href="http://yn0000.shop">
                    <img id="logo_img" src="/img/logo_img.gif" alt="로고">
                </a>
            </h1>

            <div id="menu">
                <ul class="menu_ul">
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">인터뷰작성</a></li>
                </ul>
                <ul id="second_menu" class="menu_ul">
                    <li><a href="#">브랜딩</a></li>
                    <li><a href="#">로고디자인</a></li>
                    <li><a href="#">네이밍</a></li>
                    <li><a href="#">편집디자인</a></li>
                    <li><a href="#">홈페이지</a></li>

                </ul>
                <ul id="third_menu" class="menu_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">후기</a></li>

                </ul>
            </div>
            <!-- 파일다운로드 -->
            <a id="file_download" href="/txt/server.txt" target="_blank" download="server.txt">회사소개서 다운</a>

            <div class="tel_no">
                <div>
                    <p>1544-1234</p>
                    <p>평일 9-6시 (점심 01:00 - 2시)</p>
                </div>
            </div>
            <div class="info_box">
                <p>우리 1005-000-000000</p>
                <p>(주)디자인오브</p>
                <p>brand@brand.co.kr</p>
            </div>
            <ul id="and_page">
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/join">JOIN</a></li>
                <li><a href="#">CART</a></li>
                <li><a href="#">MYPAGE</a></li>
            </ul>
            <div class="invisible">
                <% users.forEach(function (value) { %>
                    <p>
                        <%=value.user_id%>님
                    </p>
                    <% }); %>
            </div>

        </div>

    </header>
    <section id="main">
        <div id="mainScreen">
            <div id="picture_div_one">
                <ul id="img_album_one">
                    <li><a href="">
                            <div class="img-box">
                                <img src="/img/1.jpg">
                            </div>
                        </a>
                    </li>
                    <!-- <li><img src="/img/2.jpg"></li>
                    <li><img src="/img/3.jpg"></li>
                    <li><img src="/img/4.jpg"></li>
                    <li><img src="/img/5.jpg"></li> -->
                </ul>
                <ul id="img_album_two">
                    <li>
                        <a href="#">
                            <div class="img-box"><img src="/img/6.jpg">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img-box"><img src="/img/7.jpg">
                            </div>
                        </a>
                    </li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/8.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/9.jpg"></div>
                        </a></li>

                </ul>

            </div>
            <div id="picture_div_two">
                <ul id="img_album_three">
                    <li><a href="#">
                            <div class="img-box"><img src="/img/10.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/11.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/12.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/13.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/14.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/15.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/16.jpg"></div>
                        </a></li>
                    <li><a href="#">
                            <div class="img-box"><img src="/img/17.jpg"></div>
                        </a></li>

                </ul>
            </div>

        </div>


    </section>

    <section>
        <div id="about">
            <div id="inner_about">
                <p>
                    브랜드 디자인 한 길만 걸어온 전문성,<br>
                    소비자와 브랜드가 만나고 소통하는 모든 길목에<br>
                    브랜디오가 있습니다.
                </p>
                <div>
                    <img src="/img/long_logo.gif">
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="me">
        <div class="contact">
            <h3>상담문의</h3>
            <div class="request_box">
                <form id="request_form" name="contact_form" action="/submit" method="post">
                    <div class="name_tel_companyname" style="">
                        <div id="contactNameBox">
                            <label>이름* <input class="contactForm" id="name" type="text" name="name"
                                    placeholder="홍길동"></label>
                        </div>
                        <div id="contactTelBox">
                            <label>연락처* <input class="contactForm" id="telno" type="text" name="tel"
                                    placeholder="010-xxxx-xxxx"></label>
                        </div>
                        <div id="contactCompanyNameBox">
                            <label>회사명<input class="contactForm" id="companyName" type="text" name="companyName"
                                    placeholder="Studio"></label>
                        </div>
                    </div>
                    <div class="email_budget" style="">
                        <div id="contactEmailBox">
                            <label>이메일* <input class="contactForm" id="email" type="email" name="email"
                                    placeholder="aaa@naver.com"></label>
                        </div>
                        <div id="contactBudgetBox">
                            <label>예산 <input class="contactForm" id="budget" type="text" name="budget"
                                    placeholder="10,000,000"></label>
                        </div>
                    </div>
                    <div class="msgArea" style="">
                        <div id="contactMsgBox">
                            <label>문의 내용*
                                <textarea class="contactForm" id="message" name="message"
                                    style="border: 1px solid #e0e0e0;"
                                    placeholder=" 궁금하신 사항이나 문의하실 내용을 적어주세요"></textarea>
                            </label>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button id="submit" type="button" name="submit">SEND</button>
                    </div>

                </form>

            </div>
        </div>

        <script>
            // const form = document.querySelector('#request_form');

            // function submitInput(e){
            //     e.preventDefault();
            //     console.log(e);
            // };

            // form.addEventListener("submit", submitInput);

            function value() {
                var val = false
                $('#name').val() == null || $('#name').val() == 'undefined' || $('#name').val() == '' ? alert('이름을 입력해주세요.') :
                    $('#telno').val() == null || $('#telno').val() == 'undefined' || $('#telno').val() == '' ? alert('연락처를 입력해주세요.') :
                        $('#email').val() == null || $('#email').val() == 'undefined' || $('#email').val() == '' ? alert('email 을 입력해주세요.') :
                            $('#message').val() == null || $('#message').val() == 'undefined' || $('#message').val() == '' ? alert('메시지를 입력해주세요.') : val = true;
                console.log(val);
                return val;
            }


            $('#submit').on('click', function () {
                console.log(value + "if문 바깥쪽");
                if (value()) {
                    console.log(value + "if문 안쪽");

                    var param = {
                        "name": $('#name').val(),
                        "telno": $('#telno').val(),
                        "companyName": $('#companyName').val() == null || $('#companyName').val() == 'undefined' || $('#companyName').val() == '' ? '' : $('#companyName').val(),
                        "email": $('#email').val(),
                        "budget": $('#budget').val() == null || $('#budget').val() == 'undefined' || $('#budget').val() == '' ? '' : $('#budget').val(),
                        "message": $('#message').val().replace(/(?:\r\n|\r|\n)/g, '<br />')
                    }
                    console.log(param);
                    var rvalue = new Array();
                    $.ajax({
                        type: "post",
                        url: "/submit",
                        data: param,
                        async: false,
                        success: function (data) {

                            alert('메일이 발송되었습니다.');
                            window.location.replace("http://yn0000.shop");

                        },
                        error: function (e) {
                            alert(e.reponseText);
                        }
                    });



                }

            })


        </script>


        <script>
                (function () { var w = window; if (w.ChannelIO) { return w.console.error("ChannelIO script included twice.") } var ch = function () { ch.c(arguments) }; ch.q = []; ch.c = function (args) { ch.q.push(args) }; w.ChannelIO = ch; function l() { if (w.ChannelIOInitialized) { return } w.ChannelIOInitialized = true; var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = "https://cdn.channel.io/plugin/ch-plugin-web.js"; var x = document.getElementsByTagName("script")[0]; if (x.parentNode) { x.parentNode.insertBefore(s, x) } } if (document.readyState === "complete") { l() } else { w.addEventListener("DOMContentLoaded", l); w.addEventListener("load", l) } })();

            ChannelIO('boot', {
                "pluginKey": "06f227e7-8bbb-4f70-a8fb-3e59dd2df902"
            });
        </script>
</body>

</html>